<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ni.edu.uca.proyecto_final">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo_nino"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_nino_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Proyecto_Final">
        <activity
            android:name=".General_Tutor"
            android:exported="true" />
        <activity
            android:name=".Detalles_Tutor"
            android:exported="true" />
        <activity
            android:name=".Ejercicio_Final"
            android:exported="true" />
        <activity
            android:name=".Pantalla_de_Ejercicios"
            android:exported="true" />
        <activity
            android:name=".menu_ninos"
            android:exported="true" />
        <activity
            android:name=".Registrar_Cuenta"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true" />
        <activity
            android:name=".About"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>